{% if page.previousPost or page.nextPost %}
  <nav class="pagination">
    {% if page.previousPost %}
      <a href="{{ page.previousPost | relative_url }}" class="pagination--pager" title="{{ page.previousPost | markdownify | strip_html }}" >Previous</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.nextPost %}
      <a href="{{ page.nextPost | relative_url }}" class="pagination--pager" title="{{ page.nextPost | markdownify | strip_html }}">Next</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}